@CHARSET "UTF-8";
.filestyle,.input-filestyle{
	width: 98px;
    height: 32px;
}
.filestyle{
	background : url("singlefileupload.png");
    display: inline;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
}
.input-filestyle{
    position: relative;
    display: inline;
    cursor: pointer;
    opacity: 0;
    filter:alpha(opacity=0);
    cursor: pointer;
}