<filter>
	<filter-name>GlobalFilter</filter-name>
	<filter-class>com.hanweb.common.filter.GlobalFilter</filter-class>
</filter>
<filter-mapping>
	<filter-name>GlobalFilter</filter-name>
	<url-pattern>*.jsp</url-pattern>
	<url-pattern>*.do</url-pattern>
</filter-mapping>
<filter>
	<display-name>XssFilter</display-name>
	<filter-name>XssFilter</filter-name>
	<filter-class>com.hanweb.common.filter.XssFilter</filter-class>
	<init-param>
		<description>是否开启，默认为true</description>
		<param-name>action</param-name>
		<param-value></param-value>
	</init-param>
</filter>
<filter-mapping>
	<filter-name>XssFilter</filter-name>
	<url-pattern>/manager/*</url-pattern>
</filter-mapping>